In [1]:
import pandas as pd
######################################productos.csv##############################################
df_prod=pd.read_csv("maestro_productos.csv")
print(df_prod.info())
print(df_prod.head(20)) #muestra de 20 datos
print(df_prod["Sku_Category"].unique())
print(df_prod["Sku_Subcategory"].unique())
#transformando de object a category y ha string
df_prod["Sku_Category"]=df_prod["Sku_Category"].astype("category")
df_prod["Sku_Subcategory"]=df_prod["Sku_Subcategory"].astype("category")
df_prod["Sku"]=df_prod["Sku"].astype("string")
print("tipo",df_prod.dtypes)

#capitalize (algunos datos están en minúscula o mayúscula)
df_prod["Sku_Description"]=df_prod["Sku_Description"].str.capitalize()
print(df_prod.head(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sku              1242 non-null   int64
 1   Sku_Description  1242 non-null   object
 2   Sku_Category     1242 non-null   object
 3   Sku_Subcategory  1242 non-null   object
dtypes: int64(1), object(3)
memory usage: 38.9+ KB
None
       Sku                Sku_Description   Sku_Category Sku_Subcategory
0    11058                 Frosted Mango      Sugar-free     Cereal bars
1    29207            Nut Cheerios Mango   Super-flavour      Cereal box
2    38379              MultiGrain Mango      Sugar-free     Cereal bars
3    42671                  Crunch Mango      Sugar-free     Cereal bars
4    54644                    Corn Mango      Sugar-free     Cereal bars
5    62660                  Graham Mango      Sugar-free     Cereal bars
6    72707                   Sugar Mango      Sugar-free     Cereal bars
7    83421           Peanut Butter Mango      Sugar-free     Cereal bars
8    95265                  Chocos Mango      Sugar-free     Cereal bars
9   101271              Coco Poops Mango      Sugar-free     Cereal bars
10  115019                 Cookies Mango      Sugar-free     Cereal bars
11  126368             Crispy Rice Mango   Super-flavour      Cereal box
12  139842          Crunch Berries Mango      Sugar-free     Cereal bars
13  149873              Cornflakes Mango      Sugar-free     Cereal bars
14  159897            Crunchy Bran Mango      Sugar-free     Cereal bars
15  160084  Crunchy Nut Cornflakes Mango      Sugar-free     Cereal bars
16  170091       Double Dip Crunch Mango      Sugar-free     Cereal bars
17  180374            Fruit & Bran Mango      Sugar-free     Cereal bars
18  190381             Fruit & Nut Mango      Sugar-free     Cereal bars
19  201100            Golden Goals Mango   Super-flavour      Cereal box
['Sugar-free' 'Super-flavour']
['Cereal bars' 'Cereal box' 'LECHES UHT']
tipo Sku                  string
Sku_Description      object
Sku_Category       category
Sku_Subcategory    category
dtype: object
       Sku                Sku_Description   Sku_Category Sku_Subcategory
0    11058                 Frosted mango      Sugar-free     Cereal bars
1    29207            Nut cheerios mango   Super-flavour      Cereal box
2    38379              Multigrain mango      Sugar-free     Cereal bars
3    42671                  Crunch mango      Sugar-free     Cereal bars
4    54644                    Corn mango      Sugar-free     Cereal bars
5    62660                  Graham mango      Sugar-free     Cereal bars
6    72707                   Sugar mango      Sugar-free     Cereal bars
7    83421           Peanut butter mango      Sugar-free     Cereal bars
8    95265                  Chocos mango      Sugar-free     Cereal bars
9   101271              Coco poops mango      Sugar-free     Cereal bars
10  115019                 Cookies mango      Sugar-free     Cereal bars
11  126368             Crispy rice mango   Super-flavour      Cereal box
12  139842          Crunch berries mango      Sugar-free     Cereal bars
13  149873              Cornflakes mango      Sugar-free     Cereal bars
14  159897            Crunchy bran mango      Sugar-free     Cereal bars
15  160084  Crunchy nut cornflakes mango      Sugar-free     Cereal bars
16  170091       Double dip crunch mango      Sugar-free     Cereal bars
17  180374            Fruit & bran mango      Sugar-free     Cereal bars
18  190381             Fruit & nut mango      Sugar-free     Cereal bars
19  201100            Golden goals mango   Super-flavour      Cereal box

In [2]:
#analizo si hay registros duplicados
print(df_prod.duplicated().sum())
print(df_prod["Sku"].duplicated().sum()) 
print(df_prod["Sku_Description"].duplicated().sum())
#no hay duplicados en el Sku ni en el dataframe

#analizo si no hay nulos
print(df_prod.isnull().sum())
#no hay nulos

0
0
0
Sku                0
Sku_Description    0
Sku_Category       0
Sku_Subcategory    0
dtype: int64

In [3]:
####################################Sellin.csv#######################################
df_tot_ventas=pd.read_csv("sellin-total.csv")
print(df_tot_ventas.info())
print(df_tot_ventas.head(20))
#analizar si hay nulos
print("Nan valores: ",df_tot_ventas.isnull().sum())
#no hay valores nulos
"""Analizando si hay duplicados, lo que se verificará que en cada tienda no halla una 
repetición de un mismo producto para una misma fecha ya que se habla de un total """
#Voy a generar una columna de verification que una los datos de las tres columnas (sku, date, store:id)
#para luego sólo ver si hay "posibles duplicados en esa misma columna, pero se analizará luego esa 
#posibilidad
lista1=df_tot_ventas["Sku"].tolist() 
lista2=df_tot_ventas["Date"].tolist()
lista3=df_tot_ventas["Store_Id"].tolist()
#uniendo cada palabra por lista
list_verification=[]
for i in zip(lista1,lista2,lista3):
 list_verification.append(i)
print(list_verification[:7])
print(len(list_verification)) #la longitud coincide con el número de filas
df_tot_ventas["verification"]=list_verification
print(df_tot_ventas)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188783 entries, 0 to 4188782
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       int64
 1   Date      object
 2   Store_Id  int64
 3   Pieces    float64
 4   Price     float64
 5   Margin    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 191.7+ MB
None
        Sku        Date  Store_Id  Pieces  Price  Margin
0   4220015  02/01/2015       100    20.0  13.01    9.78
1   4220015  02/01/2015       116    20.0  13.01    9.78
2   4220015  02/01/2015       141    80.0  13.01    9.78
3   4220015  02/01/2015       146    10.0  13.01    9.78
4   4220015  02/01/2015       151    20.0  13.09    9.87
5   4220015  02/01/2015       158    40.0  13.01    9.78
6   4220015  02/01/2015       231    20.0  13.01    9.78
7   4220015  02/01/2015       232    60.0  13.01    9.78
8   4220015  02/01/2015       233    80.0  13.01    9.78
9   4220015  02/01/2015       234    60.0  13.01    9.78
10  4220015  02/01/2015       236    40.0  13.01    9.78
11  4220015  02/01/2015       237    80.0  13.01    9.78
12  4220015  02/01/2015       621    20.0  13.09    9.87
13  4220015  02/01/2015       652    40.0  13.01    9.78
14  4220015  02/01/2015      1001     7.0  12.59    9.36
15  4220015  02/01/2015      1026    15.0  12.72    9.49
16  4220015  02/01/2015      1044    20.0  12.59    9.36
17  4220015  02/01/2015      1045    40.0  12.72    9.49
18  4220015  02/01/2015      1053    40.0  12.59    9.36
19  4220015  02/01/2015      1067    20.0  12.72    9.49
Nan valores:  Sku         0
Date        0
Store_Id    0
Pieces      0
Price       0
Margin      0
dtype: int64
[(4220015, '02/01/2015', 100), (4220015, '02/01/2015', 116), (4220015, '02/01/2015', 141), (4220015, '02/01/2015', 146), (4220015, '02/01/2015', 151), (4220015, '02/01/2015', 158), (4220015, '02/01/2015', 231)]
4188783
             Sku        Date  Store_Id  Pieces  Price  Margin  \
0        4220015  02/01/2015       100   20.00  13.01    9.78
1        4220015  02/01/2015       116   20.00  13.01    9.78
2        4220015  02/01/2015       141   80.00  13.01    9.78
3        4220015  02/01/2015       146   10.00  13.01    9.78
4        4220015  02/01/2015       151   20.00  13.09    9.87
...          ...         ...       ...     ...    ...     ...
4188778  4829827  31/05/2017      3900   33.75  20.51   14.62
4188779  4829827  31/05/2017      4090   20.25  20.51   14.62
4188780  4829827  31/05/2017      4544    6.75  20.51   14.62
4188781  4829827  31/05/2017      5702   33.75  20.51   14.62
4188782  4829827  31/05/2017      5773    6.75  20.51   14.62

                        verification
0         (4220015, 02/01/2015, 100)
1         (4220015, 02/01/2015, 116)
2         (4220015, 02/01/2015, 141)
3         (4220015, 02/01/2015, 146)
4         (4220015, 02/01/2015, 151)
...                              ...
4188778  (4829827, 31/05/2017, 3900)
4188779  (4829827, 31/05/2017, 4090)
4188780  (4829827, 31/05/2017, 4544)
4188781  (4829827, 31/05/2017, 5702)
4188782  (4829827, 31/05/2017, 5773)

[4188783 rows x 7 columns]

In [4]:

#enlistando los duplicados
print("duplicados: ",df_tot_ventas["verification"].duplicated(keep=False).sum())
#hay n duplicados posibles
df_tot_ventas_dup=df_tot_ventas[df_tot_ventas["verification"].duplicated(keep=False)]
print(df_tot_ventas_dup[:10])
"""En la muestra tomada se observa que no son duplicados, sino es posible que un lote nuevo de productos
halla entrado ese mismo día, y por ende se tiene un precio distinto al anterior producto existente.
No se puede sumar debido a variable como el margin y el price que son distintas.
"""
#usando una variable con un nombre más descriptivo y transformando datos
df_sellin_total=df_tot_ventas[["Sku","Date","Store_Id","Pieces","Price","Margin"]]
df_sellin_total.loc[0:4188782,"Store_Id"]=df_sellin_total["Store_Id"].astype("string")
df_sellin_total.loc[0:4188782,"Sku"]=df_sellin_total["Sku"].astype("string")
df_sellin_total.loc[0:4188782:,"Pieces"]=df_sellin_total["Pieces"].astype("int64")
df_sellin_total.loc[0:4188782,"Price"]=df_sellin_total["Price"].astype("float64")
print("###################")
print(df_sellin_total.dtypes)
print(df_sellin_total.info())

duplicados:  282
            Sku        Date  Store_Id  Pieces  Price  Margin  \
279050  4230022  11/11/2016       240    10.0  13.29    9.44
279051  4230022  11/11/2016       240    40.0  14.29   10.45
280323  4230022  16/11/2016       240    36.0  13.29    9.44
280324  4230022  16/11/2016       240    20.0  14.29   10.45
280866  4230022  18/11/2016       240    40.0  13.29    9.44
280867  4230022  18/11/2016       240    40.0  14.29   10.45
282960  4230022  28/11/2016       240    20.0  13.29    9.44
282961  4230022  28/11/2016       240    20.0  14.29   10.45
315898  4230022  17/04/2017       240    40.0  13.88    9.81
315899  4230022  17/04/2017       240    40.0  14.93   10.85

                      verification
279050  (4230022, 11/11/2016, 240)
279051  (4230022, 11/11/2016, 240)
280323  (4230022, 16/11/2016, 240)
280324  (4230022, 16/11/2016, 240)
280866  (4230022, 18/11/2016, 240)
280867  (4230022, 18/11/2016, 240)
282960  (4230022, 28/11/2016, 240)
282961  (4230022, 28/11/2016, 240)
315898  (4230022, 17/04/2017, 240)
315899  (4230022, 17/04/2017, 240)

C:\Users\auror\AppData\Local\Temp\ipykernel_11784\2220748408.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sellin_total.loc[0:4188782,"Store_Id"]=df_sellin_total["Store_Id"].astype("string")
C:\Users\auror\AppData\Local\Temp\ipykernel_11784\2220748408.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sellin_total.loc[0:4188782,"Sku"]=df_sellin_total["Sku"].astype("string")

###################
Sku          string
Date         object
Store_Id     string
Pieces        int64
Price       float64
Margin      float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188783 entries, 0 to 4188782
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       string
 1   Date      object
 2   Store_Id  string
 3   Pieces    int64
 4   Price     float64
 5   Margin    float64
dtypes: float64(2), int64(1), object(1), string(2)
memory usage: 191.7+ MB
None

C:\Users\auror\AppData\Local\Temp\ipykernel_11784\2220748408.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sellin_total.loc[0:4188782:,"Pieces"]=df_sellin_total["Pieces"].astype("int64")
C:\Users\auror\AppData\Local\Temp\ipykernel_11784\2220748408.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sellin_total.loc[0:4188782,"Price"]=df_sellin_total["Price"].astype("float64")

In [5]:
#######################################sellout proveedor_1.csv######################################
df_ventas_2=pd.read_csv("sellout-proveedor1.csv")
print(df_ventas_2.info())
print(df_ventas_2.head(5))

#hay texto en date, este se eliminará
df_ventas_2["Date2"]=df_ventas_2["Date"].str.split(" ").str[0]
df_ventas_2["Date"]=df_ventas_2["Date2"]
df_ventas_2.pop("Date2")
print(df_ventas_2[:5])
#Cambiando los tipos de los datos
df_ventas_2["Sku"]=df_ventas_2["Sku"].astype("string")
df_ventas_2["Store_Id"]=df_ventas_2["Store_Id"].astype("string")
df_ventas_2["Units"]=df_ventas_2["Units"].astype("int64")
df_ventas_2["Price"]=df_ventas_2["Price"].astype("object")#esto es debido a un problema posterior
#ya que en otros dataframes llamé a las unidades pieces, le coloco es nombre
df_ventas_2=df_ventas_2.rename(columns={"Units":"Pieces"})
print(df_ventas_2.dtypes)

#verificar que no hay nulos
print(df_ventas_2.isnull().sum()) #no hay nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206365 entries, 0 to 1206364
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Sku       1206365 non-null  int64
 1   Date      1206365 non-null  object
 2   Store_Id  1206365 non-null  int64
 3   Units     1206365 non-null  float64
 4   Price     1206365 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 46.0+ MB
None
       Sku                         Date  Store_Id  Units  Price
0  4220015  2017-01-01 SO Diaria Piezas        18    6.0   15.6
1  4220015  2017-01-01 SO Diaria Piezas        24    0.0    0.0
2  4220015  2017-01-01 SO Diaria Piezas        39    0.0    0.0
3  4220015  2017-01-01 SO Diaria Piezas        44    0.0    0.0
4  4220015  2017-01-01 SO Diaria Piezas        46    0.0    0.0
       Sku        Date  Store_Id  Units  Price
0  4220015  2017-01-01        18    6.0   15.6
1  4220015  2017-01-01        24    0.0    0.0
2  4220015  2017-01-01        39    0.0    0.0
3  4220015  2017-01-01        44    0.0    0.0
4  4220015  2017-01-01        46    0.0    0.0
Sku         string
Date        object
Store_Id    string
Pieces       int64
Price       object
dtype: object
Sku         0
Date        0
Store_Id    0
Pieces      0
Price       0
dtype: int64

In [6]:
#verificar si hay duplicados
lista1y=df_ventas_2["Sku"].tolist() 
lista2y=df_ventas_2["Date"].tolist()
lista3y=df_ventas_2["Store_Id"].tolist()
#uniendo cada palabra por lista
list_verification2=[]
for i in zip(lista1y,lista2y,lista3y):
 list_verification2.append(i)
print(list_verification2[:7])
print(len(list_verification2)) #la longitu coincide con el número de filas
df_ventas_2["verification"]=list_verification2
print(df_ventas_2)
#enlistando los duplicados
print("duplicados: ",df_ventas_2["verification"].duplicated(keep=False).sum())
#hay 0 duplicados posibles
#utilizando una variable más descriptiva
df_sellout_proveedor_1=df_ventas_2[["Sku","Date","Store_Id","Pieces","Price"]]
df_sellout_proveedor_1["Price"]=df_ventas_2["Price"].astype("float64")
print(df_sellout_proveedor_1.info())

[('4220015', '2017-01-01', '18'), ('4220015', '2017-01-01', '24'), ('4220015', '2017-01-01', '39'), ('4220015', '2017-01-01', '44'), ('4220015', '2017-01-01', '46'), ('4220015', '2017-01-01', '47'), ('4220015', '2017-01-01', '52')]
1206365
             Sku        Date Store_Id  Pieces Price  \
0        4220015  2017-01-01       18       6  15.6
1        4220015  2017-01-01       24       0   0.0
2        4220015  2017-01-01       39       0   0.0
3        4220015  2017-01-01       44       0   0.0
4        4220015  2017-01-01       46       0   0.0
...          ...         ...      ...     ...   ...
1206360  4829827  2017-06-04      705       0   0.0
1206361  4829827  2017-06-04      706       0   0.0
1206362  4829827  2017-06-04      707       0  27.2
1206363  4829827  2017-06-04      708       0   0.0
1206364  4829827  2017-06-04      709       0   0.0

                       verification
0         (4220015, 2017-01-01, 18)
1         (4220015, 2017-01-01, 24)
2         (4220015, 2017-01-01, 39)
3         (4220015, 2017-01-01, 44)
4         (4220015, 2017-01-01, 46)
...                             ...
1206360  (4829827, 2017-06-04, 705)
1206361  (4829827, 2017-06-04, 706)
1206362  (4829827, 2017-06-04, 707)
1206363  (4829827, 2017-06-04, 708)
1206364  (4829827, 2017-06-04, 709)

[1206365 rows x 6 columns]
duplicados:  0

C:\Users\auror\AppData\Local\Temp\ipykernel_11784\778816136.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sellout_proveedor_1["Price"]=df_ventas_2["Price"].astype("float64")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206365 entries, 0 to 1206364
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Sku       1206365 non-null  string
 1   Date      1206365 non-null  object
 2   Store_Id  1206365 non-null  string
 3   Pieces    1206365 non-null  int64
 4   Price     1206365 non-null  float64
dtypes: float64(1), int64(1), object(1), string(2)
memory usage: 46.0+ MB
None

In [7]:
######################################clientes.csv####################################3

df_clientes=pd.read_csv("maestro_clientes.csv")
print(df_clientes.info())
print(df_clientes.head(5))
print("UNIQUE",df_clientes["CADENA"].unique()) #se puede crear una categoría
print("UNIQUE",df_clientes["FORMATO"].unique()) #se puede crear una categorí
df_clientes=df_clientes[["NUM TDA","NOMBRE DE TDA","CADENA","FORMATO","MUNICIPIO/CIUDAD","ESTADO","DIVISION","DEPOSITO / DISTRIBUIDOR","ESTRUCTURA"]]
pd.set_option("max_colwidth",None)
#capitalize los datos
df_clientes["NOMBRE DE TDA"]=df_clientes["NOMBRE DE TDA"].str.capitalize()
df_clientes["CADENA"]=df_clientes["CADENA"].str.capitalize()
df_clientes["FORMATO"]=df_clientes["FORMATO"].str.capitalize()
df_clientes["MUNICIPIO/CIUDAD"]=df_clientes["MUNICIPIO/CIUDAD"].str.capitalize()
df_clientes["ESTADO"]=df_clientes["ESTADO"].str.capitalize()
df_clientes["DIVISION"]=df_clientes["DIVISION"].str.capitalize()
df_clientes["DEPOSITO / DISTRIBUIDOR"]=df_clientes["DEPOSITO / DISTRIBUIDOR"].str.capitalize()
df_clientes["ESTRUCTURA"]=df_clientes["ESTRUCTURA"].str.capitalize()

#cambiando de tipo los datos
df_clientes["NUM TDA"]=df_clientes["NUM TDA"].astype("string")
df_clientes["NOMBRE DE TDA"]=df_clientes["NOMBRE DE TDA"].astype("string")
df_clientes["CADENA"]=df_clientes["CADENA"].astype("category")
df_clientes["FORMATO"]=df_clientes["FORMATO"].astype("category")
df_clientes["DIVISION"]=df_clientes["DIVISION"].astype("category")
df_clientes["ESTRUCTURA"]=df_clientes["ESTRUCTURA"].astype("category")
print(df_clientes.dtypes)

#cambiando los encabezados de las columnas para que sean congruentes con los otros csv
df_clientes=df_clientes.rename(columns={"NUM TDA":"Store_Id","NOMBRE DE TDA":"Nombre_de_Tienda","CADENA":"Cadena","FORMATO":"Formato","MUNICIPIO/CIUDAD":"Municipio/Ciudad","ESTADO":"Estado","DEPOSITO / DISTRIBUIDOR":"Deposito / Distribuidor","DIVISION":"Division","ESTRUCTURA":"Estructura"})
#Cambie el num de la tienda por Store_Id tal como se le llamaba en df anteriores
print(df_clientes.dtypes)
print(df_clientes.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NUM TDA                  2452 non-null   int64
 1   NOMBRE DE TDA            2452 non-null   object
 2   CADENA                   2452 non-null   object
 3   FORMATO                  2452 non-null   object
 4   MUNICIPIO/CIUDAD         2452 non-null   object
 5   ESTADO                   2452 non-null   object
 6   DIVISION                 2452 non-null   object
 7   DEPOSITO / DISTRIBUIDOR  2452 non-null   object
 8   ESTRUCTURA               2452 non-null   object
 9   GRADO                    2452 non-null   object
dtypes: int64(1), object(9)
memory usage: 191.7+ KB
None
   NUM TDA              NOMBRE DE TDA       CADENA FORMATO  \
0        2  Bloody Sea Green BookShop  proveedor_1    Shop
1        4  Funny Sky Blue GipsyTrade  proveedor_1    Shop
2        5      Rare Green Laundrette  proveedor_1    Shop
3        6        Angry Indigo Center  proveedor_1    Shop
4        7           Tall Violet Deli  proveedor_1    Shop

       MUNICIPIO/CIUDAD   ESTADO DIVISION DEPOSITO / DISTRIBUIDOR  \
0    Bizarre White Shop  Coalmar  SURESTE          Mogulval Corp.
1    Bizarre White Shop  Coalmar  SURESTE          Mogulval Corp.
2  Rare Orange Applepie  Coalmar  SURESTE        Eioval Aerospace
3  Rare Orange Applepie  Coalmar  SURESTE        Eioval Aerospace
4  Rare Orange Applepie  Coalmar  SURESTE        Eioval Aerospace

       ESTRUCTURA GRADO
0  DISTRIBUIDORES    VI
1  DISTRIBUIDORES    VI
2         FORANEO    VI
3         FORANEO    VI
4         FORANEO    VI
UNIQUE ['proveedor_1' 'proveedor_2']
UNIQUE ['Shop' 'Mall' 'GreatShop' 'Grocery' 'AllInOne' 'Leftorium' 'GipsyTrade'
 'SmallShop' 'TinyShop' 'BigCom' 'HighShop' 'SuperMarket' 'Center']
NUM TDA                      string
NOMBRE DE TDA                string
CADENA                     category
FORMATO                    category
MUNICIPIO/CIUDAD             object
ESTADO                       object
DIVISION                   category
DEPOSITO / DISTRIBUIDOR      object
ESTRUCTURA                 category
dtype: object
Store_Id                     string
Nombre_de_Tienda             string
Cadena                     category
Formato                    category
Municipio/Ciudad             object
Estado                       object
Division                   category
Deposito / Distribuidor      object
Estructura                 category
dtype: object
  Store_Id           Nombre_de_Tienda       Cadena Formato  \
0        2  Bloody sea green bookshop  Proveedor_1    Shop
1        4  Funny sky blue gipsytrade  Proveedor_1    Shop
2        5      Rare green laundrette  Proveedor_1    Shop
3        6        Angry indigo center  Proveedor_1    Shop
4        7           Tall violet deli  Proveedor_1    Shop

       Municipio/Ciudad   Estado Division Deposito / Distribuidor  \
0    Bizarre white shop  Coalmar  Sureste          Mogulval corp.
1    Bizarre white shop  Coalmar  Sureste          Mogulval corp.
2  Rare orange applepie  Coalmar  Sureste        Eioval aerospace
3  Rare orange applepie  Coalmar  Sureste        Eioval aerospace
4  Rare orange applepie  Coalmar  Sureste        Eioval aerospace

       Estructura
0  Distribuidores
1  Distribuidores
2         Foraneo
3         Foraneo
4         Foraneo

In [8]:
#verificar si hay duplicados
print(df_clientes.duplicated().sum())#0 casos
print(df_clientes["Nombre_de_Tienda"].duplicated().sum()) #63 casos
print(df_clientes["Store_Id"].duplicated().sum()) #4 casos

dup_df_clientes=df_clientes[df_clientes["Nombre_de_Tienda"].duplicated(keep=False)]
pd.set_option("display.max_colwidth",None)
print(dup_df_clientes)
#observando un ejemplo del posible duplicado: el cual se observa que son distintas tiendas a pesar de
#tener el mismo nombre como:
print(dup_df_clientes[(dup_df_clientes["Nombre_de_Tienda"]=="Angry indigo center")])
#Ahora analizando los otros 4 casos:
print("\n\n\n")
dup_df_clientes=df_clientes[df_clientes["Store_Id"].duplicated(keep=False)]
print(dup_df_clientes)
"""Aquí se observa que a pesar de que sean 2 tiendas distintas tienen el mismo Store_Id, 
se les agregará una "d" al final para diferenciarlos, siempre y cuando estén ubicados en distintas
partes, y tengan diferentes artributos; abajo se observa que sólo hay 1 posible duplicados"""
print("\n\n\n")


#asignando un id distinto, como solo es 1 caso lo hare directamente(58 es el Id_Store)
df_clientes.loc[2415,"Store_Id"]=df_clientes.loc[2415,"Store_Id"]+"d"
#comprobando
dup_df_clientes=df_clientes[df_clientes["Store_Id"].duplicated(keep=False)]
print("####################")
print(dup_df_clientes[dup_df_clientes["Municipio/Ciudad"].duplicated(keep=False)]) #se analizaa el df
#y se observa que no son duplicados, tienen atributos diferentes
print("\n\n\n")
print(df_clientes.info())
print(df_clientes.dtypes)

0
63
4
     Store_Id         Nombre_de_Tienda       Cadena   Formato  \
3           6      Angry indigo center  Proveedor_1      Shop
43         49        Young navy center  Proveedor_1      Mall
50         58       aquamarine florist  Proveedor_1      Shop
59         68  Legendary indigo market  Proveedor_1      Shop
76        100      Clean grey jeweller  Proveedor_1      Shop
...       ...                      ...          ...       ...
2422     2568  Impressive coral bigcom  Proveedor_2   Grocery
2424     1373       Young fuchsia deli  Proveedor_2  Allinone
2429     3526   Little maroon allinone  Proveedor_2  Allinone
2430      240       Dull navy bookshop  Proveedor_2  Tinyshop
2445     2192  Dead salmon tobacconist  Proveedor_2  Tinyshop

           Municipio/Ciudad       Estado     Division  \
3      Rare orange applepie      Coalmar      Sureste
43    Angry indigo applepie  Thrilvallor  Metro-norte
50      Singing violet soil      Mamoval    Península
59    Legendary brown beach      Mamoval    Península
76         Funny lemon star    Magornmar    Metro-sur
...                     ...          ...          ...
2422   Legendary azure tree     Mobartho    Península
2424         High dark rock       Erodmo        Bajío
2429      Dead orchid stone  Alfthrilmad     Noroeste
2430         Rare lemon key     Alloralf  Metro-norte
2445    Massive white stone    Barthovit      Noreste

            Deposito / Distribuidor      Estructura
3                  Eioval aerospace         Foraneo
43                    Navallor inc.         Foraneo
50              Rodalgus toughworks  Distribuidores
59                Alfthrilal vocals         Foraneo
76                Thrilthoal empire           Metro
...                             ...             ...
2422             Valarar toughworks         Foraneo
2424                 Gornalfmo inc.         Foraneo
2429  Argullor ifonforge industries         Foraneo
2430           Lorthogus toughworks           Metro
2445              Thrilmamad vocals         Foraneo

[125 rows x 9 columns]
    Store_Id     Nombre_de_Tienda       Cadena     Formato  \
3          6  Angry indigo center  Proveedor_1        Shop
900     2052  Angry indigo center  Proveedor_2  Gipsytrade

         Municipio/Ciudad   Estado Division Deposito / Distribuidor  \
3    Rare orange applepie  Coalmar  Sureste        Eioval aerospace
900      Big silver burgo  Coalmar  Sureste          Mogulval corp.

         Estructura
3           Foraneo
900  Distribuidores




     Store_Id         Nombre_de_Tienda       Cadena   Formato  \
50         58       aquamarine florist  Proveedor_1      Shop
115       143    Empty turquoise baker  Proveedor_1      Shop
151       240       Dull navy bookshop  Proveedor_1      Shop
235       143    Empty turquoise baker  Proveedor_1      Shop
2409     2568  Impressive coral bigcom  Proveedor_2   Grocery
2415       58       aquamarine florist  Proveedor_2  Allinone
2422     2568  Impressive coral bigcom  Proveedor_2   Grocery
2430      240       Dull navy bookshop  Proveedor_2  Tinyshop

           Municipio/Ciudad    Estado     Division  \
50      Singing violet soil   Mamoval    Península
115         Clean aqua soil   Egusgul     Noroeste
151          Rare lemon key  Alloralf    Metro-sur
235         Clean aqua soil  Nabargus    Occidente
2409     First yellow tower  Mobartho    Península
2415  Young chocolate burgo  Marcotho        Bajío
2422   Legendary azure tree  Mobartho    Península
2430         Rare lemon key  Alloralf  Metro-norte

            Deposito / Distribuidor      Estructura
50              Rodalgus toughworks  Distribuidores
115           Gornvalval industrail  Distribuidores
151               Thrilthoal empire           Metro
235   Colorvit ifonforge industries         Foraneo
2409             Valarar toughworks         Foraneo
2415                 Marodio vocals         Foraneo
2422             Valarar toughworks         Foraneo
2430           Lorthogus toughworks           Metro




####################
     Store_Id       Nombre_de_Tienda       Cadena   Formato Municipio/Ciudad  \
115       143  Empty turquoise baker  Proveedor_1      Shop  Clean aqua soil
151       240     Dull navy bookshop  Proveedor_1      Shop   Rare lemon key
235       143  Empty turquoise baker  Proveedor_1      Shop  Clean aqua soil
2430      240     Dull navy bookshop  Proveedor_2  Tinyshop   Rare lemon key

        Estado     Division        Deposito / Distribuidor      Estructura
115    Egusgul     Noroeste          Gornvalval industrail  Distribuidores
151   Alloralf    Metro-sur              Thrilthoal empire           Metro
235   Nabargus    Occidente  Colorvit ifonforge industries         Foraneo
2430  Alloralf  Metro-norte           Lorthogus toughworks           Metro




<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Store_Id                 2452 non-null   string
 1   Nombre_de_Tienda         2452 non-null   string
 2   Cadena                   2452 non-null   category
 3   Formato                  2452 non-null   category
 4   Municipio/Ciudad         2452 non-null   object
 5   Estado                   2452 non-null   object
 6   Division                 2452 non-null   category
 7   Deposito / Distribuidor  2452 non-null   object
 8   Estructura               2452 non-null   category
dtypes: category(4), object(3), string(2)
memory usage: 106.8+ KB
None
Store_Id                     string
Nombre_de_Tienda             string
Cadena                     category
Formato                    category
Municipio/Ciudad             object
Estado                       object
Division                   category
Deposito / Distribuidor      object
Estructura                 category
dtype: object

In [9]:
#######################################sellout proveedor_2.csv######################################
df_ventas_3=pd.read_csv("sellout-proveedor2.csv")
print(df_ventas_3.info())
print(df_ventas_3.tail())
print(df_ventas_3.head())
#Cambiando los tipos de los datos
df_ventas_3["Sku"]=df_ventas_3["Sku"].astype("string")
df_ventas_3["Store_Id"]=df_ventas_3["Store_Id"].astype("string")
df_ventas_3["Pieces"]=df_ventas_3["Pieces"].astype("int64") 

#Eliminando $ de price con expresiones regulares
import re
lista_temporal=df_ventas_3["Price"].tolist()
lista_temporal_2=[]
for i in lista_temporal:
 patron=re.compile("[\d]{1,3}.+[\d]{0,2}")
 res=patron.findall(i)
 lista_temporal_2.append(float(res[0]))
print(lista_temporal_2[:10])
df_sellout_proveedor2=df_ventas_3[["Sku","Date","Store_Id","Pieces"]]
df_sellout_proveedor2["Price"]=lista_temporal_2

print(df_sellout_proveedor2.dtypes)
print(df_sellout_proveedor2[:5])
#verificar que no hay nulos
print(df_sellout_proveedor2.isnull().sum()) #no hay nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4862029 entries, 0 to 4862028
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       int64
 1   Date      object
 2   Store_Id  int64
 3   Pieces    float64
 4   Price     object
dtypes: float64(1), int64(2), object(2)
memory usage: 185.5+ MB
None
             Sku        Date  Store_Id  Pieces   Price
4862024  4729193  2016/12/30      5827    14.0  $17.90
4862025  4729193  2016/12/30      5850     3.0  $17.90
4862026  4729193  2016/12/30      5851     3.0  $16.00
4862027  4729193  2016/12/30      5855    21.0  $16.86
4862028  4729193  2016/08/20      3766    12.0  $13.60
       Sku        Date  Store_Id  Pieces   Price
0  4240039  2016/01/01      1000    23.0  $16.00
1  4240039  2016/01/01      1001   116.0  $16.00
2  4240039  2016/01/01      1002   146.0  $16.00
3  4240039  2016/01/01      1003    17.0  $16.80
4  4240039  2016/01/01      1004     5.0  $16.70
[16.0, 16.0, 16.0, 16.8, 16.7, 16.7, 16.4, 16.4, 16.0, 16.4]
Sku          string
Date         object
Store_Id     string
Pieces        int64
Price       float64
dtype: object
       Sku        Date Store_Id  Pieces  Price
0  4240039  2016/01/01     1000      23   16.0
1  4240039  2016/01/01     1001     116   16.0
2  4240039  2016/01/01     1002     146   16.0
3  4240039  2016/01/01     1003      17   16.8
4  4240039  2016/01/01     1004       5   16.7
Sku         0
Date        0
Store_Id    0
Pieces      0
Price       0
dtype: int64

In [10]:
#verificar si hay duplicados
lista1x=df_sellout_proveedor2["Sku"].tolist() 
lista2x=df_sellout_proveedor2["Date"].tolist()
lista3x=df_sellout_proveedor2["Store_Id"].tolist()
#uniendo cada palabra por lista
list_verification3=[]
for i in zip(lista1x,lista2x,lista3x):
 list_verification3.append(i)
print(list_verification3[:7])
print(len(list_verification3)) #la longitud coincide con el número de filas
df_sellout_proveedor2["verification"]=list_verification3
#enlistando los duplicados
print("duplicados: ",df_sellout_proveedor2["verification"].duplicated(keep=False).sum())
#hay 176 duplicados posibles
dup_df_sellout_proveedor2=df_sellout_proveedor2[df_sellout_proveedor2["verification"].duplicated(keep=False)]
print(dup_df_sellout_proveedor2[:30])#muestra de posibles duplicados

print("\n\n\n")
"""en este caso particular se observa como si en una misma fecha hallan entrado dos lotes un mismo día
pero la cantidad de piezas es cero, lo cual considero un dato no útil, no lo eliminaré por ahora ya 
que más adelante pruebo usar funciones como size, shape y me crean error por eliminar un registro
"""
print(dup_df_sellout_proveedor2[(dup_df_sellout_proveedor2["Sku"]=="4625287")])
print("\n\n\n")
"""Otro caso es el de abajo, se observa que en un mismo día han entrado dos lotes distintos, aquí no
se manipulará nada"""
print(dup_df_sellout_proveedor2[(dup_df_sellout_proveedor2["Store_Id"]=="2034")])

[('4240039', '2016/01/01', '1000'), ('4240039', '2016/01/01', '1001'), ('4240039', '2016/01/01', '1002'), ('4240039', '2016/01/01', '1003'), ('4240039', '2016/01/01', '1004'), ('4240039', '2016/01/01', '1005'), ('4240039', '2016/01/01', '1006')]
4862029
duplicados:  176
             Sku        Date Store_Id  Pieces  Price  \
4195803  4625287  2016/08/14     2254       5    5.9
4196231  4625287  2016/08/14     2254       0    5.9
4812286  4709131  2016/08/01     1003       4   12.9
4812287  4709131  2016/08/01     1032       3   13.5
4812288  4709131  2016/08/01     1067       1   13.5
4812289  4709131  2016/08/01     1084       5   12.9
4812290  4709131  2016/08/01     1107       7   13.5
4812291  4709131  2016/08/01     1425       3   13.5
4812292  4709131  2016/08/01     1624       3   13.5
4812293  4709131  2016/08/01     1684       1   13.5
4812294  4709131  2016/08/01     1685      13   13.5
4812296  4709131  2016/08/01     1902      12   13.5
4812297  4709131  2016/08/01     2034       6   12.1
4812298  4709131  2016/08/01     2075       2   13.5
4812299  4709131  2016/08/01     2076       3   13.5
4812300  4709131  2016/08/01     2219       1   13.5
4812301  4709131  2016/08/01     2343       1   13.5
4812302  4709131  2016/08/01     2345      11   13.5
4812303  4709131  2016/08/01     2378       1   13.5
4812304  4709131  2016/08/01     2384       6   12.9
4812305  4709131  2016/08/01     2464       4   13.5
4812306  4709131  2016/08/01     2670      10   13.5
4812307  4709131  2016/08/01     2689       1   13.5
4812308  4709131  2016/08/01     2732       2   13.5
4812309  4709131  2016/08/01     2735       9   12.9
4812310  4709131  2016/08/01     2839      12   13.5
4812311  4709131  2016/08/01     3005      12   13.5
4812313  4709131  2016/08/01     3091       2   13.5
4812314  4709131  2016/08/01     3356       2   13.5
4812315  4709131  2016/08/01     3505       2   12.9

                        verification
4195803  (4625287, 2016/08/14, 2254)
4196231  (4625287, 2016/08/14, 2254)
4812286  (4709131, 2016/08/01, 1003)
4812287  (4709131, 2016/08/01, 1032)
4812288  (4709131, 2016/08/01, 1067)
4812289  (4709131, 2016/08/01, 1084)
4812290  (4709131, 2016/08/01, 1107)
4812291  (4709131, 2016/08/01, 1425)
4812292  (4709131, 2016/08/01, 1624)
4812293  (4709131, 2016/08/01, 1684)
4812294  (4709131, 2016/08/01, 1685)
4812296  (4709131, 2016/08/01, 1902)
4812297  (4709131, 2016/08/01, 2034)
4812298  (4709131, 2016/08/01, 2075)
4812299  (4709131, 2016/08/01, 2076)
4812300  (4709131, 2016/08/01, 2219)
4812301  (4709131, 2016/08/01, 2343)
4812302  (4709131, 2016/08/01, 2345)
4812303  (4709131, 2016/08/01, 2378)
4812304  (4709131, 2016/08/01, 2384)
4812305  (4709131, 2016/08/01, 2464)
4812306  (4709131, 2016/08/01, 2670)
4812307  (4709131, 2016/08/01, 2689)
4812308  (4709131, 2016/08/01, 2732)
4812309  (4709131, 2016/08/01, 2735)
4812310  (4709131, 2016/08/01, 2839)
4812311  (4709131, 2016/08/01, 3005)
4812313  (4709131, 2016/08/01, 3091)
4812314  (4709131, 2016/08/01, 3356)
4812315  (4709131, 2016/08/01, 3505)




             Sku        Date Store_Id  Pieces  Price  \
4195803  4625287  2016/08/14     2254       5    5.9
4196231  4625287  2016/08/14     2254       0    5.9

                        verification
4195803  (4625287, 2016/08/14, 2254)
4196231  (4625287, 2016/08/14, 2254)




             Sku        Date Store_Id  Pieces  Price  \
4812297  4709131  2016/08/01     2034       6   12.1
4812470  4709131  2016/08/01     2034      13   12.1
4816005  4709131  2016/08/08     2034      28   13.5
4816213  4709131  2016/08/08     2034       2   13.5
4820080  4709131  2016/08/16     2034      13   14.2
4820299  4709131  2016/08/16     2034       4   14.2

                        verification
4812297  (4709131, 2016/08/01, 2034)
4812470  (4709131, 2016/08/01, 2034)
4816005  (4709131, 2016/08/08, 2034)
4816213  (4709131, 2016/08/08, 2034)
4820080  (4709131, 2016/08/16, 2034)
4820299  (4709131, 2016/08/16, 2034)

In [11]:

df_sellout_proveedor2.pop("verification")#elimino esta columna

0          (4240039, 2016/01/01, 1000)
1          (4240039, 2016/01/01, 1001)
2          (4240039, 2016/01/01, 1002)
3          (4240039, 2016/01/01, 1003)
4          (4240039, 2016/01/01, 1004)
                      ...
4862024    (4729193, 2016/12/30, 5827)
4862025    (4729193, 2016/12/30, 5850)
4862026    (4729193, 2016/12/30, 5851)
4862027    (4729193, 2016/12/30, 5855)
4862028    (4729193, 2016/08/20, 3766)
Name: verification, Length: 4862029, dtype: object

In [12]:
######realizando modificaciones en conjunto y trabajando con los dates de cada dataframe###########

#tratando con los datetimes
df_sellin_total["len"]=df_sellin_total["Date"].str.len()
df_sellout_proveedor_1["len"]=df_sellout_proveedor_1["Date"].str.len()
df_sellout_proveedor2["len"]=df_sellout_proveedor2["Date"].str.len()
print(df_sellin_total["len"].value_counts())#observando la frecuencia
print(df_sellout_proveedor_1["len"].value_counts())
print(df_sellout_proveedor2["len"].value_counts())
#elimino esa columna
df_sellin_total.pop("len")
df_sellout_proveedor_1.pop("len")
df_sellout_proveedor2.pop("len")
#muestras
print(df_sellin_total.tail())
print(df_sellout_proveedor_1.tail())
print(df_sellout_proveedor2.tail())

#df_sellin_total["Date"]=df_sellin_total["Date"].astype("string")

print(df_sellin_total["Date"])

10    4188783
Name: len, dtype: int64
10    1206365
Name: len, dtype: int64
10    4862029
Name: len, dtype: int64
             Sku        Date Store_Id  Pieces  Price  Margin
4188778  4829827  31/05/2017     3900      33  20.51   14.62
4188779  4829827  31/05/2017     4090      20  20.51   14.62
4188780  4829827  31/05/2017     4544       6  20.51   14.62
4188781  4829827  31/05/2017     5702      33  20.51   14.62
4188782  4829827  31/05/2017     5773       6  20.51   14.62
             Sku        Date Store_Id  Pieces  Price
1206360  4829827  2017-06-04      705       0    0.0
1206361  4829827  2017-06-04      706       0    0.0
1206362  4829827  2017-06-04      707       0   27.2
1206363  4829827  2017-06-04      708       0    0.0
1206364  4829827  2017-06-04      709       0    0.0
             Sku        Date Store_Id  Pieces  Price
4862024  4729193  2016/12/30     5827      14  17.90
4862025  4729193  2016/12/30     5850       3  17.90
4862026  4729193  2016/12/30     5851       3  16.00
4862027  4729193  2016/12/30     5855      21  16.86
4862028  4729193  2016/08/20     3766      12  13.60
0          02/01/2015
1          02/01/2015
2          02/01/2015
3          02/01/2015
4          02/01/2015
              ...
4188778    31/05/2017
4188779    31/05/2017
4188780    31/05/2017
4188781    31/05/2017
4188782    31/05/2017
Name: Date, Length: 4188783, dtype: object

In [13]:

#Transformando
#print(df_sellin_total.tail(60))

"""Nota: creando una función para que transforme el formato deseado,debido a que no toda la 
columna tiene el mismo formato de fecha, hay discrepancias en ciertas partes 
"""

#funcion que devuelve una lista con date en formato dia-mes-año
def transforma_date(dt):
 errores=[]
 l=[]
 lista=dt["Date"].tolist()
 for el in lista:
    el=str(el)
    x=el.split("-")
    if(len(x)==1):
      patron=re.compile("/")#aqui determina si la fecha tienen "/" o "-"
    else:
      patron=re.compile("-")
    res=patron.split(el)
    anio,mes,dia=0,0,0
    fecha=""
    try:  
      #casos por si salen diferentes formatos de fechas
    #en el caso que sea año-mes-día
      if(len(res[0])==4):
        anio=int(res[0])#es año
        if(int(res[1])>12):#esto es por si hay una variación en que sea año-día-mes
         dia=int(res[1])
         mes=int(res[2])
        else:
         dia=int(res[2])
         mes=int(res[1])
     
      #en el caso que sea día-mes-año
      else:
        anio=int(res[2])#es año
        if(int(res[1])>12):#esto es por si hay una varación en que sea mes-día-año
          dia=int(res[1])
          mes=int(res[0])
        else:
          dia=int(res[0])
          mes=int(res[1])
     #formato
      fecha=str(dia)+"-"+str(mes)+"-"+str(anio)
    except Exception as error:
     print(error)
   #estos luego yo los modificaré manualmente
     if(el not in errores):
       errores.append(el)
       continue
    else:
      l.append(fecha)
 print("Revisa: ")
 print(errores)
 return l

t=transforma_date(df_sellout_proveedor2)

Revisa:
[]

In [14]:
#la lista devuelta se transforma en la columna date una vez que he revisado y modificado los errores
print(t[:5])
"""El anterior código genero que no hay errores"""
df_sellout_proveedor2["Date"]=t
print(df_sellout_proveedor2.dtypes)
print(df_sellout_proveedor2.loc[:5,"Date"])

['1-1-2016', '1-1-2016', '1-1-2016', '1-1-2016', '1-1-2016']
Sku          string
Date         object
Store_Id     string
Pieces        int64
Price       float64
dtype: object
0    1-1-2016
1    1-1-2016
2    1-1-2016
3    1-1-2016
4    1-1-2016
5    1-1-2016
Name: Date, dtype: object

In [15]:
#llamando a la función para que tengan el mismo formato las fechas
tpx=transforma_date(df_sellout_proveedor_1)

Revisa:
[]

In [16]:
"""No hay errores según el código anterior"""
print(tpx[:5])
df_sellout_proveedor_1["Date"]=tpx
print(df_sellout_proveedor_1.dtypes)
print(df_sellout_proveedor_1.loc[:5,"Date"])

['1-1-2017', '1-1-2017', '1-1-2017', '1-1-2017', '1-1-2017']
Sku          string
Date         object
Store_Id     string
Pieces        int64
Price       float64
dtype: object
0    1-1-2017
1    1-1-2017
2    1-1-2017
3    1-1-2017
4    1-1-2017
5    1-1-2017
Name: Date, dtype: object

In [17]:
tpy=transforma_date(df_sellin_total) #llamanado la misma función para normalizar los formatos de fechas

Revisa:
[]

In [18]:
print(len(tpy))
print(type(tpy[0]))
print(len(tpx))
print(type(tpx[0]))
print(len(t))
print(type(t[0]))
#se observan en las listas creadas para reemplzar los dates, la misma cantidad de registros 
#,por ende no hubo pérdida de datos

#asignando los elementos de las listas a las columna date (el de proveedor 2 ya lo había hecho)
df_sellout_proveedor_1["Date"]=tpx
df_sellin_total["Date"]=tpy
print(df_sellout_proveedor_1.loc[:5,"Date"])
#tpx=transforma_date(df_sellout_proveedor_1)
#transformando a datetime
df_sellout_proveedor_1["Date"]=pd.to_datetime(df_sellout_proveedor_1["Date"],format="%d-%m-%Y")
df_sellout_proveedor2["Date"]=pd.to_datetime(df_sellout_proveedor2["Date"],format="%d-%m-%Y")
df_sellin_total["Date"]=pd.to_datetime(df_sellin_total["Date"],format="%d-%m-%Y")

4188783
<class 'str'>
1206365
<class 'str'>
4862029
<class 'str'>
0    1-1-2017
1    1-1-2017
2    1-1-2017
3    1-1-2017
4    1-1-2017
5    1-1-2017
Name: Date, dtype: object

In [19]:
print(df_sellout_proveedor_1.loc[:5,"Date"])

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
5   2017-01-01
Name: Date, dtype: datetime64[ns]

In [20]:


print(df_prod.info())
print(df_sellin_total.info())
print(df_clientes.info())
print(df_sellout_proveedor_1.info())
print(df_sellout_proveedor2.info())
print("#########")
print(df_sellin_total[:10])
print("\n\n\n")
print(df_sellout_proveedor_1[:10])
print("\n\n\n")
print(df_sellout_proveedor2[:10])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sku              1242 non-null   string
 1   Sku_Description  1242 non-null   object
 2   Sku_Category     1242 non-null   category
 3   Sku_Subcategory  1242 non-null   category
dtypes: category(2), object(1), string(1)
memory usage: 22.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188783 entries, 0 to 4188782
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       string
 1   Date      datetime64[ns]
 2   Store_Id  string
 3   Pieces    int64
 4   Price     float64
 5   Margin    float64
dtypes: datetime64[ns](1), float64(2), int64(1), string(2)
memory usage: 191.7 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Store_Id                 2452 non-null   string
 1   Nombre_de_Tienda         2452 non-null   string
 2   Cadena                   2452 non-null   category
 3   Formato                  2452 non-null   category
 4   Municipio/Ciudad         2452 non-null   object
 5   Estado                   2452 non-null   object
 6   Division                 2452 non-null   category
 7   Deposito / Distribuidor  2452 non-null   object
 8   Estructura               2452 non-null   category
dtypes: category(4), object(3), string(2)
memory usage: 106.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206365 entries, 0 to 1206364
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Sku       1206365 non-null  string
 1   Date      1206365 non-null  datetime64[ns]
 2   Store_Id  1206365 non-null  string
 3   Pieces    1206365 non-null  int64
 4   Price     1206365 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), string(2)
memory usage: 46.0 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4862029 entries, 0 to 4862028
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       string
 1   Date      datetime64[ns]
 2   Store_Id  string
 3   Pieces    int64
 4   Price     float64
dtypes: datetime64[ns](1), float64(1), int64(1), string(2)
memory usage: 185.5 MB
None
#########
       Sku       Date Store_Id  Pieces  Price  Margin
0  4220015 2015-01-02      100      20  13.01    9.78
1  4220015 2015-01-02      116      20  13.01    9.78
2  4220015 2015-01-02      141      80  13.01    9.78
3  4220015 2015-01-02      146      10  13.01    9.78
4  4220015 2015-01-02      151      20  13.09    9.87
5  4220015 2015-01-02      158      40  13.01    9.78
6  4220015 2015-01-02      231      20  13.01    9.78
7  4220015 2015-01-02      232      60  13.01    9.78
8  4220015 2015-01-02      233      80  13.01    9.78
9  4220015 2015-01-02      234      60  13.01    9.78




       Sku       Date Store_Id  Pieces  Price
0  4220015 2017-01-01       18       6   15.6
1  4220015 2017-01-01       24       0    0.0
2  4220015 2017-01-01       39       0    0.0
3  4220015 2017-01-01       44       0    0.0
4  4220015 2017-01-01       46       0    0.0
5  4220015 2017-01-01       47       0    0.0
6  4220015 2017-01-01       52       0    0.0
7  4220015 2017-01-01       56       0    0.0
8  4220015 2017-01-01       60       8   15.6
9  4220015 2017-01-01       64       0    0.0




       Sku       Date Store_Id  Pieces  Price
0  4240039 2016-01-01     1000      23   16.0
1  4240039 2016-01-01     1001     116   16.0
2  4240039 2016-01-01     1002     146   16.0
3  4240039 2016-01-01     1003      17   16.8
4  4240039 2016-01-01     1004       5   16.7
5  4240039 2016-01-01     1005       5   16.7
6  4240039 2016-01-01     1006       3   16.4
7  4240039 2016-01-01     1007       5   16.4
8  4240039 2016-01-01     1008     101   16.0
9  4240039 2016-01-01     1015      36   16.4

In [21]:
########################################mergeando###############################
df_1=pd.merge(df_sellout_proveedor_1,df_sellout_proveedor2,on=["Store_Id","Date","Sku"],how="outer")
#reenombrando los encabezados de las columnas clasificadas por proveedor

df_1=df_1.rename(columns={"Pieces_x":"Pieces_Out_Prov_1","Pieces_y":"Pieces_Out_Prov_2","Price_x":"Price_Out_Prov_1","Price_y":"Price_Out_Prov_2"})
#los tipos de datos
df_1.loc[:,"Pieces_Out_Prov_1"]=df_1["Pieces_Out_Prov_1"].astype("Int64")
df_1.loc[:,"Pieces_Out_Prov_2"]=df_1["Pieces_Out_Prov_2"].astype("Int64")
df_1.loc[:,"Price_Out_Prov_2"]=df_1["Price_Out_Prov_2"].astype("Float64")
df_1.loc[:,"Price_Out_Prov_1"]=df_1["Price_Out_Prov_1"].astype("Float64")
#según la documentación que leí, los nan en columna pieces me los vuelve un float, así que lo 
#pasé a Int64, de tal forma que represente enteros con missings, así mismo con el price, aunque no 
#cambio su tipo (float64), quiero que se vea de la misma forma los missings <NA>

print(df_1.info())
print(df_1[0:10])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6068394 entries, 0 to 6068393
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   Sku                string
 1   Date               datetime64[ns]
 2   Store_Id           string
 3   Pieces_Out_Prov_1  Int64
 4   Price_Out_Prov_1   Float64
 5   Pieces_Out_Prov_2  Int64
 6   Price_Out_Prov_2   Float64
dtypes: Float64(2), Int64(2), datetime64[ns](1), string(2)
memory usage: 393.5 MB
None
       Sku       Date Store_Id  Pieces_Out_Prov_1  Price_Out_Prov_1  \
0  4220015 2017-01-01       18                  6              15.6
1  4220015 2017-01-01       24                  0               0.0
2  4220015 2017-01-01       39                  0               0.0
3  4220015 2017-01-01       44                  0               0.0
4  4220015 2017-01-01       46                  0               0.0
5  4220015 2017-01-01       47                  0               0.0
6  4220015 2017-01-01       52                  0               0.0
7  4220015 2017-01-01       56                  0               0.0
8  4220015 2017-01-01       60                  8              15.6
9  4220015 2017-01-01       64                  0               0.0

   Pieces_Out_Prov_2  Price_Out_Prov_2
0               <NA>              <NA>
1               <NA>              <NA>
2               <NA>              <NA>
3               <NA>              <NA>
4               <NA>              <NA>
5               <NA>              <NA>
6               <NA>              <NA>
7               <NA>              <NA>
8               <NA>              <NA>
9               <NA>              <NA>

In [22]:
#######################mergeando lo anterior con sellin########################
df_2=pd.merge(df_1,df_sellin_total,on=["Store_Id","Sku","Date"],how="outer")
df_2=df_2.rename(columns={"Pieces":"Pieces_In","Price":"Price_In","Margin":"Margin_In"})

df_2.loc[:,"Pieces_In"]=df_2["Pieces_In"].astype("Int64")
df_2.loc[:,"Price_In"]=df_2["Price_In"].astype("Float64")
df_2.loc[:,"Margin_In"]=df_2["Margin_In"].astype("Float64")
print(df_2[:20])
print(df_2.info())

        Sku       Date Store_Id  Pieces_Out_Prov_1  Price_Out_Prov_1  \
0   4220015 2017-01-01       18                  6              15.6
1   4220015 2017-01-01       24                  0               0.0
2   4220015 2017-01-01       39                  0               0.0
3   4220015 2017-01-01       44                  0               0.0
4   4220015 2017-01-01       46                  0               0.0
5   4220015 2017-01-01       47                  0               0.0
6   4220015 2017-01-01       52                  0               0.0
7   4220015 2017-01-01       56                  0               0.0
8   4220015 2017-01-01       60                  8              15.6
9   4220015 2017-01-01       64                  0               0.0
10  4220015 2017-01-01       65                  0               0.0
11  4220015 2017-01-01       70                  0               0.0
12  4220015 2017-01-01       76                  0               0.0
13  4220015 2017-01-01       77                  0               0.0
14  4220015 2017-01-01       79                  0               0.0
15  4220015 2017-01-01       91                  0               0.0
16  4220015 2017-01-01       92                  0               0.0
17  4220015 2017-01-01       95                  0               0.0
18  4220015 2017-01-01       96                  0               0.0
19  4220015 2017-01-01       98                  8              15.6

    Pieces_Out_Prov_2  Price_Out_Prov_2  Pieces_In  Price_In  Margin_In
0                <NA>              <NA>       <NA>      <NA>       <NA>
1                <NA>              <NA>       <NA>      <NA>       <NA>
2                <NA>              <NA>       <NA>      <NA>       <NA>
3                <NA>              <NA>       <NA>      <NA>       <NA>
4                <NA>              <NA>       <NA>      <NA>       <NA>
5                <NA>              <NA>       <NA>      <NA>       <NA>
6                <NA>              <NA>       <NA>      <NA>       <NA>
7                <NA>              <NA>       <NA>      <NA>       <NA>
8                <NA>              <NA>       <NA>      <NA>       <NA>
9                <NA>              <NA>       <NA>      <NA>       <NA>
10               <NA>              <NA>       <NA>      <NA>       <NA>
11               <NA>              <NA>       <NA>      <NA>       <NA>
12               <NA>              <NA>       <NA>      <NA>       <NA>
13               <NA>              <NA>       <NA>      <NA>       <NA>
14               <NA>              <NA>       <NA>      <NA>       <NA>
15               <NA>              <NA>       <NA>      <NA>       <NA>
16               <NA>              <NA>       <NA>      <NA>       <NA>
17               <NA>              <NA>       <NA>      <NA>       <NA>
18               <NA>              <NA>       <NA>      <NA>       <NA>
19               <NA>              <NA>       <NA>      <NA>       <NA>
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9650066 entries, 0 to 9650065
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   Sku                string
 1   Date               datetime64[ns]
 2   Store_Id           string
 3   Pieces_Out_Prov_1  Int64
 4   Price_Out_Prov_1   Float64
 5   Pieces_Out_Prov_2  Int64
 6   Price_Out_Prov_2   Float64
 7   Pieces_In          Int64
 8   Price_In           Float64
 9   Margin_In          Float64
dtypes: Float64(4), Int64(3), datetime64[ns](1), string(2)
memory usage: 874.3 MB
None

In [23]:
#######################mergeando lo anterior con clientes########################
df_clientes_2=df_clientes[["Store_Id","Nombre_de_Tienda","Formato","Municipio/Ciudad","Estado","Division","Deposito / Distribuidor"]]
df_3=pd.merge(df_2,df_clientes_2,on="Store_Id",how="left")
print(df_3)
print(df_3.info())

             Sku       Date Store_Id  Pieces_Out_Prov_1  Price_Out_Prov_1  \
0        4220015 2017-01-01       18                  6              15.6
1        4220015 2017-01-01       24                  0               0.0
2        4220015 2017-01-01       39                  0               0.0
3        4220015 2017-01-01       44                  0               0.0
4        4220015 2017-01-01       46                  0               0.0
...          ...        ...      ...                ...               ...
9665547  4829827 2017-05-31     3900               <NA>              <NA>
9665548  4829827 2017-05-31     4090               <NA>              <NA>
9665549  4829827 2017-05-31     4544               <NA>              <NA>
9665550  4829827 2017-05-31     5702               <NA>              <NA>
9665551  4829827 2017-05-31     5773               <NA>              <NA>

         Pieces_Out_Prov_2  Price_Out_Prov_2  Pieces_In  Price_In  Margin_In  \
0                     <NA>              <NA>       <NA>      <NA>       <NA>
1                     <NA>              <NA>       <NA>      <NA>       <NA>
2                     <NA>              <NA>       <NA>      <NA>       <NA>
3                     <NA>              <NA>       <NA>      <NA>       <NA>
4                     <NA>              <NA>       <NA>      <NA>       <NA>
...                    ...               ...        ...       ...        ...
9665547               <NA>              <NA>         33     20.51      14.62
9665548               <NA>              <NA>         20     20.51      14.62
9665549               <NA>              <NA>          6     20.51      14.62
9665550               <NA>              <NA>         33     20.51      14.62
9665551               <NA>              <NA>          6     20.51      14.62

                  Nombre_de_Tienda     Formato       Municipio/Ciudad  \
0             Singing black center        Shop       Evil white baton
1             Dull dark tallmarket        Shop           Kicking red
2             Evil orange jeweller        Shop    Evil chocolate rock
3                    sky blue bank        Shop      Awesome blue city
4               Dull blue allinone        Shop      Singing brown mud
...                            ...         ...                    ...
9665547  Awful chartreuse allinone   Leftorium       Tiny indigo tree
9665548        Long navy stationer   Leftorium  Old orchid metropolis
9665549      Awful dark laundrette  Gipsytrade        Clean aqua soil
9665550   Clean chartreuse florist   Leftorium     Funny magenta tree
9665551        Rare salmon florist  Gipsytrade        Clean aqua soil

              Estado     Division Deposito / Distribuidor
0           Alloralf  Metro-norte           Emolor vocals
1            Arrodio      Sureste      Mararna industrail
2           Alloralf  Metro-norte       Thrilvallor corp.
3          Thogulgul      Sureste          Malormad corp.
4        Thrilvallor       Centro            Naargul inc.
...              ...          ...                     ...
9665547     Alloralf  Metro-norte    Lorthogus toughworks
9665548      Egusgul   Centro-sur      Erodmad industrail
9665549      Egusgul   Centro-sur      Erodmad industrail
9665550     Alloralf       Centro       Elortho aerospace
9665551      Egusgul   Centro-sur      Erodmad industrail

[9665552 rows x 16 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9665552 entries, 0 to 9665551
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Sku                      string
 1   Date                     datetime64[ns]
 2   Store_Id                 string
 3   Pieces_Out_Prov_1        Int64
 4   Price_Out_Prov_1         Float64
 5   Pieces_Out_Prov_2        Int64
 6   Price_Out_Prov_2         Float64
 7   Pieces_In                Int64
 8   Price_In                 Float64
 9   Margin_In                Float64
 10  Nombre_de_Tienda         string
 11  Formato                  category
 12  Municipio/Ciudad         object
 13  Estado                   object
 14  Division                 category
 15  Deposito / Distribuidor  object
dtypes: Float64(4), Int64(3), category(2), datetime64[ns](1), object(3), string(3)
memory usage: 1.2+ GB
None

In [24]:
#######################mergeando lo anterior con productos########################
df_prod_2=df_prod[["Sku","Sku_Description"]]#solo el sku y la descripción tendré en cuenta
df_4=pd.merge(df_3,df_prod_2,on="Sku",how="left")
print(df_4)
print(df_4.info())

             Sku       Date Store_Id  Pieces_Out_Prov_1  Price_Out_Prov_1  \
0        4220015 2017-01-01       18                  6              15.6
1        4220015 2017-01-01       24                  0               0.0
2        4220015 2017-01-01       39                  0               0.0
3        4220015 2017-01-01       44                  0               0.0
4        4220015 2017-01-01       46                  0               0.0
...          ...        ...      ...                ...               ...
9665547  4829827 2017-05-31     3900               <NA>              <NA>
9665548  4829827 2017-05-31     4090               <NA>              <NA>
9665549  4829827 2017-05-31     4544               <NA>              <NA>
9665550  4829827 2017-05-31     5702               <NA>              <NA>
9665551  4829827 2017-05-31     5773               <NA>              <NA>

         Pieces_Out_Prov_2  Price_Out_Prov_2  Pieces_In  Price_In  Margin_In  \
0                     <NA>              <NA>       <NA>      <NA>       <NA>
1                     <NA>              <NA>       <NA>      <NA>       <NA>
2                     <NA>              <NA>       <NA>      <NA>       <NA>
3                     <NA>              <NA>       <NA>      <NA>       <NA>
4                     <NA>              <NA>       <NA>      <NA>       <NA>
...                    ...               ...        ...       ...        ...
9665547               <NA>              <NA>         33     20.51      14.62
9665548               <NA>              <NA>         20     20.51      14.62
9665549               <NA>              <NA>          6     20.51      14.62
9665550               <NA>              <NA>         33     20.51      14.62
9665551               <NA>              <NA>          6     20.51      14.62

                  Nombre_de_Tienda     Formato       Municipio/Ciudad  \
0             Singing black center        Shop       Evil white baton
1             Dull dark tallmarket        Shop           Kicking red
2             Evil orange jeweller        Shop    Evil chocolate rock
3                    sky blue bank        Shop      Awesome blue city
4               Dull blue allinone        Shop      Singing brown mud
...                            ...         ...                    ...
9665547  Awful chartreuse allinone   Leftorium       Tiny indigo tree
9665548        Long navy stationer   Leftorium  Old orchid metropolis
9665549      Awful dark laundrette  Gipsytrade        Clean aqua soil
9665550   Clean chartreuse florist   Leftorium     Funny magenta tree
9665551        Rare salmon florist  Gipsytrade        Clean aqua soil

              Estado     Division Deposito / Distribuidor  \
0           Alloralf  Metro-norte           Emolor vocals
1            Arrodio      Sureste      Mararna industrail
2           Alloralf  Metro-norte       Thrilvallor corp.
3          Thogulgul      Sureste          Malormad corp.
4        Thrilvallor       Centro            Naargul inc.
...              ...          ...                     ...
9665547     Alloralf  Metro-norte    Lorthogus toughworks
9665548      Egusgul   Centro-sur      Erodmad industrail
9665549      Egusgul   Centro-sur      Erodmad industrail
9665550     Alloralf       Centro       Elortho aerospace
9665551      Egusgul   Centro-sur      Erodmad industrail

                          Sku_Description
0                         Stars chocolate
1                         Stars chocolate
2                         Stars chocolate
3                         Stars chocolate
4                         Stars chocolate
...                                   ...
9665547  Golden goals chocolate choc chip
9665548  Golden goals chocolate choc chip
9665549  Golden goals chocolate choc chip
9665550  Golden goals chocolate choc chip
9665551  Golden goals chocolate choc chip

[9665552 rows x 17 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9665552 entries, 0 to 9665551
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Sku                      string
 1   Date                     datetime64[ns]
 2   Store_Id                 string
 3   Pieces_Out_Prov_1        Int64
 4   Price_Out_Prov_1         Float64
 5   Pieces_Out_Prov_2        Int64
 6   Price_Out_Prov_2         Float64
 7   Pieces_In                Int64
 8   Price_In                 Float64
 9   Margin_In                Float64
 10  Nombre_de_Tienda         string
 11  Formato                  category
 12  Municipio/Ciudad         object
 13  Estado                   object
 14  Division                 category
 15  Deposito / Distribuidor  object
 16  Sku_Description          object
dtypes: Float64(4), Int64(3), category(2), datetime64[ns](1), object(4), string(3)
memory usage: 1.2+ GB
None

In [25]:
df_4[5000:5050]

,Sku,Date,Store_Id,Pieces_Out_Prov_1,Price_Out_Prov_1,Pieces_Out_Prov_2,Price_Out_Prov_2,Pieces_In,Price_In,Margin_In,Nombre_de_Tienda,Formato,Municipio/Ciudad,Estado,Division,Deposito / Distribuidor,Sku_Description
5000,4220015,2017-02-22,60,2,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Interesting purple mall,Shop,Horrible purple tree,Lorgulgus,Centro-sur,Gorngusco toughworks,Stars chocolate
5001,4220015,2017-02-22,64,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Dead green fishmonger,Shop,Awful navy,Thrilvallor,Sureste,Evitrus inc.,Stars chocolate
5002,4220015,2017-02-22,65,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Little olive greatshop,Shop,Massive red hole,Thogulgul,Metro-norte,Navallor inc.,Stars chocolate
5003,4220015,2017-02-22,70,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Old lavender tinyshop,Shop,purple creek,Thrilvallor,Centro,Vitena vocals,Stars chocolate
5004,4220015,2017-02-22,76,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Small burgundy market,Shop,purple creek,Thrilvallor,Centro,Rusthomar empire,Stars chocolate
5005,4220015,2017-02-22,77,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Evil lemon supermarket,Shop,purple creek,Thrilvallor,Centro,Vitena vocals,Stars chocolate
5006,4220015,2017-02-22,79,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Young sea green bigcom,Shop,Rare orange applepie,Coalmar,Sureste,Eioval aerospace,Stars chocolate
5007,4220015,2017-02-22,91,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Clean pink bigcenter,Shop,Long chocolate barrier,Alloralf,Centro,Movitalf empire,Stars chocolate
5008,4220015,2017-02-22,92,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,New azure tallmarket,Shop,purple creek,Thrilvallor,Centro,Rusthomar empire,Stars chocolate
5009,4220015,2017-02-22,95,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Horrible violet shop,Shop,First salmon rock,Lorvalmo,Bajío,Argule ifonforge industries,Stars chocolate
5010,4220015,2017-02-22,96,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Dull burgundy allinone,Shop,Bloody beige tree,Lorvalmo,Bajío,Thrilear industrail,Stars chocolate
5011,4220015,2017-02-22,98,12,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Bizarre white stationer,Shop,Kicking fuchsia empire,Magornmar,Metro-norte,Emolor vocals,Stars chocolate
5012,4220015,2017-02-22,100,3,15.6,<NA>,<NA>,40,14.93,10.86,Clean grey jeweller,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5013,4220015,2017-02-22,105,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Interesting aqua gipsytrade,Shop,Old golden vessel,Lorgornna,Suroeste,Lorgornlor vocals,Stars chocolate
5014,4220015,2017-02-22,106,7,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Dead blue greatshop,Shop,Horrible chartreuse mud,Alloralf,Metro-norte,Emolor vocals,Stars chocolate
5015,4220015,2017-02-22,107,2,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Clean aquamarine convenience,Shop,Long chocolate barrier,Alloralf,Centro,Movitalf empire,Stars chocolate
5016,4220015,2017-02-22,111,1,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Little lime butcher,Shop,Great violet rock,Alloralf,Metro-norte,Lorthogus toughworks,Stars chocolate
5017,4220015,2017-02-22,113,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Kicking sky blue tallmarket,Shop,Dead olive rock,Arrodio,Sureste,Mararna industrail,Stars chocolate
5018,4220015,2017-02-22,116,2,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,indigo shop,Shop,Bad silver dirt,Alloralf,Metro-sur,Rusrusmo toughworks,Stars chocolate
5019,4220015,2017-02-22,117,1,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Impressive indigo grocery,Shop,Horrible chartreuse mud,Alloralf,Metro-norte,Emolor vocals,Stars chocolate
5020,4220015,2017-02-22,121,1,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Massive purple highshop,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5021,4220015,2017-02-22,128,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Bad lemon cafe,Shop,Awesome lavender river,Armamo,Metro-norte,Navallor inc.,Stars chocolate
5022,4220015,2017-02-22,129,1,15.6,<NA>,<NA>,20,14.93,10.86,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Stars chocolate
5023,4220015,2017-02-22,130,1,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Singing turquoise cafe,Shop,Angry navy empire,Alloralf,Metro-norte,Lorthogus toughworks,Stars chocolate
5024,4220015,2017-02-22,132,4,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Alive lavender highshop,Shop,Angry indigo applepie,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5025,4220015,2017-02-22,138,1,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Rare pink center,Shop,Horrible purple tree,Lorgulgus,Centro-sur,Gorngusco toughworks,Stars chocolate
5026,4220015,2017-02-22,139,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Funny beige baker,Shop,Rare orange applepie,Coalmar,Sureste,Eioval aerospace,Stars chocolate
5027,4220015,2017-02-22,140,4,15.6,<NA>,<NA>,0,14.93,10.86,Awesome magenta fishmonger,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5028,4220015,2017-02-22,141,16,15.6,<NA>,<NA>,40,14.93,10.86,Long khaki florist,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilvitar industrail,Stars chocolate
5029,4220015,2017-02-22,144,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Small olive center,Shop,Legendary brown beach,Mamoval,Península,Alfthrilal vocals,Stars chocolate
5030,4220015,2017-02-22,145,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Big cyan laundrette,Shop,Massive golden shop,Alflorval,Centro,Gornmadvit industrail,Stars chocolate
5031,4220015,2017-02-22,146,0,0.0,<NA>,<NA>,10,14.93,10.86,Clean yellow baker,Shop,Tiny indigo tree,Alloralf,Metro-norte,Lorthogus toughworks,Stars chocolate
5032,4220015,2017-02-22,147,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Awesome crimson fishmonger,Shop,Defiant turquoise pine,Magornmar,Metro-norte,Emolor vocals,Stars chocolate
5033,4220015,2017-02-22,151,3,15.6,<NA>,<NA>,20,14.93,10.86,Funny cyan butcher,Shop,Enlightened fuchsia hole,Egusgul,Centro-sur,Erodmad industrail,Stars chocolate
5034,4220015,2017-02-22,154,5,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Bad silver butcher,Shop,Great white baton,Magornmar,Metro-sur,Thrilvitar industrail,Stars chocolate
5035,4220015,2017-02-22,157,1,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Bizarre blue tinyshop,Shop,Long chocolate barrier,Alloralf,Centro,Movitalf empire,Stars chocolate
5036,4220015,2017-02-22,158,5,15.6,<NA>,<NA>,20,14.93,10.86,Bizarre azure florist,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5037,4220015,2017-02-22,161,10,15.37,<NA>,<NA>,<NA>,<NA>,<NA>,Kicking aqua gipsytrade,Shop,Clean blue dirt,Magornmar,Metro-norte,Emolor vocals,Stars chocolate
5038,4220015,2017-02-22,164,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Last sky blue convenience,Greatshop,Angry indigo applepie,Nabargus,Occidente,Colorvit ifonforge industries,Stars chocolate
5039,4220015,2017-02-22,165,4,15.0,<NA>,<NA>,<NA>,<NA>,<NA>,Bad aqua grocery,Shop,Interesting lime comet,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5040,4220015,2017-02-22,166,14,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Defiant yellow bank,Shop,Massive chocolate mud,Egusgul,Centro-sur,Erodmad industrail,Stars chocolate
5041,4220015,2017-02-22,167,3,15.0,<NA>,<NA>,<NA>,<NA>,<NA>,Dirty violet deli,Shop,Alive sky blue stone,Alloralf,Metro-norte,Lorthogus toughworks,Stars chocolate
5042,4220015,2017-02-22,172,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,Short lavender tinyshop,Shop,Rare orange applepie,Coalmar,Sureste,Eioval aerospace,Stars chocolate
5043,4220015,2017-02-22,174,0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,Stars chocolate
5044,4220015,2017-02-22,175,4,15.6,<NA>,<NA>,20,14.93,10.86,Defiant yellow lunchhall,Shop,Enlightened dark empire,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5045,4220015,2017-02-22,231,0,0.0,<NA>,<NA>,40,14.93,10.86,Awesome pink bigcom,Shop,Interesting green pine,Alloralf,Metro-sur,Ioalfio ifonforge industries,Stars chocolate
5046,4220015,2017-02-22,232,37,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Legendary coral smallshop,Shop,Clean blue dirt,Magornmar,Metro-norte,Emolor vocals,Stars chocolate
5047,4220015,2017-02-22,233,40,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Defiant silver center,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate
5048,4220015,2017-02-22,234,14,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Enlightened aquamarine stationer,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilvitar industrail,Stars chocolate
5049,4220015,2017-02-22,235,15,15.6,<NA>,<NA>,<NA>,<NA>,<NA>,Empty white florist,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Stars chocolate

In [26]:
"""Quiero eliminar los registros que tengan valor cero o nulo en Pieces_Out_Prov_1 & Pieces_Out_Prov_2
& Pieces_In, porque quiere decir que para esa fecha no hubo movimientos de ningún tipo en sellin
ni en sellout, en la vida real buscaría más información sobre los nulos en esas columnas antes de 
eliminarlas, en esta caso no veo como deducir que ocurrio en esas fechas donde existen"""
#le colocaré cero a todos los na de esas tres columnas 
df_4["Pieces_Out_Prov_1"].fillna(0,inplace=True)
df_4["Pieces_Out_Prov_2"].fillna(0,inplace=True)
df_4["Pieces_In"].fillna(0,inplace=True)

#definiendo filtros
filter_1=(df_4["Pieces_Out_Prov_1"]==0)
filter_2=(df_4["Pieces_Out_Prov_2"]==0)
filter_3=(df_4["Pieces_In"]==0)

#tengo un dataframe nuevo donde no existen registros que en esas tres columnas tengan valores nulos o ceros
df_5=df_4[~(filter_1 & filter_2 & filter_3)]
print(df_5[:50]) 
print(df_5)
#comprobando
filter_A=(df_5["Pieces_Out_Prov_1"]==0)
filter_B=(df_5["Pieces_Out_Prov_2"]==0)
filter_C=(df_5["Pieces_In"]==0)
print("\n\n\n")
print(df_5[filter_A & filter_B & filter_C]) #sale vacio, lo cual indica que se filtro bien

         Sku       Date Store_Id  Pieces_Out_Prov_1  Price_Out_Prov_1  \
0    4220015 2017-01-01       18                  6              15.6
8    4220015 2017-01-01       60                  8              15.6
19   4220015 2017-01-01       98                  8              15.6
22   4220015 2017-01-01      106                  1              15.6
23   4220015 2017-01-01      107                  2              15.6
24   4220015 2017-01-01      111                  5              15.6
27   4220015 2017-01-01      117                  7              15.6
28   4220015 2017-01-01      121                  8              15.6
30   4220015 2017-01-01      129                  2              15.6
31   4220015 2017-01-01      130                  1              15.6
33   4220015 2017-01-01      138                 11              15.6
35   4220015 2017-01-01      140                  1              15.6
36   4220015 2017-01-01      141                  6              15.6
39   4220015 2017-01-01      146                  4              15.6
41   4220015 2017-01-01      151                  3              15.0
42   4220015 2017-01-01      154                  1              15.6
43   4220015 2017-01-01      157                  1              15.6
44   4220015 2017-01-01      158                 10              15.6
45   4220015 2017-01-01      161                  4              15.6
47   4220015 2017-01-01      165                  5              15.6
48   4220015 2017-01-01      166                  2              15.0
52   4220015 2017-01-01      175                  6              15.6
53   4220015 2017-01-01      231                  1              15.6
54   4220015 2017-01-01      232                 20              15.6
55   4220015 2017-01-01      233                 22              15.6
56   4220015 2017-01-01      234                  4              15.6
57   4220015 2017-01-01      235                 10              15.6
58   4220015 2017-01-01      236                  6              15.6
59   4220015 2017-01-01      237                  9              15.6
60   4220015 2017-01-01      238                 15              15.0
61   4220015 2017-01-01      239                  7              15.6
62   4220015 2017-01-01      240                  1              15.6
63   4220015 2017-01-01      240                  1              15.6
64   4220015 2017-01-01      241                  3              15.6
65   4220015 2017-01-01      242                 11              15.6
69   4220015 2017-01-01      254                  2              15.6
70   4220015 2017-01-01      260                  6              15.6
86   4220015 2017-01-01      655                  3              15.6
87   4220015 2017-01-01      658                  6              15.0
88   4220015 2017-01-01      667                 12              15.6
90   4220015 2017-01-01      670                  1              15.6
92   4220015 2017-01-01      701                  1              15.6
93   4220015 2017-01-01      702                  1              15.6
94   4220015 2017-01-01      705                  5              15.6
96   4220015 2017-01-02       18                 15              15.6
98   4220015 2017-01-02       39                  4              15.6
104  4220015 2017-01-02       60                  8              15.6
115  4220015 2017-01-02       98                 16              15.6
116  4220015 2017-01-02      100                  5              15.6
118  4220015 2017-01-02      106                  5              15.6

     Pieces_Out_Prov_2  Price_Out_Prov_2  Pieces_In  Price_In  Margin_In  \
0                    0              <NA>          0      <NA>       <NA>
8                    0              <NA>          0      <NA>       <NA>
19                   0              <NA>          0      <NA>       <NA>
22                   0              <NA>          0      <NA>       <NA>
23                   0              <NA>          0      <NA>       <NA>
24                   0              <NA>          0      <NA>       <NA>
27                   0              <NA>          0      <NA>       <NA>
28                   0              <NA>          0      <NA>       <NA>
30                   0              <NA>          0      <NA>       <NA>
31                   0              <NA>          0      <NA>       <NA>
33                   0              <NA>          0      <NA>       <NA>
35                   0              <NA>          0      <NA>       <NA>
36                   0              <NA>          0      <NA>       <NA>
39                   0              <NA>          0      <NA>       <NA>
41                   0              <NA>          0      <NA>       <NA>
42                   0              <NA>          0      <NA>       <NA>
43                   0              <NA>          0      <NA>       <NA>
44                   0              <NA>          0      <NA>       <NA>
45                   0              <NA>          0      <NA>       <NA>
47                   0              <NA>          0      <NA>       <NA>
48                   0              <NA>          0      <NA>       <NA>
52                   0              <NA>          0      <NA>       <NA>
53                   0              <NA>          0      <NA>       <NA>
54                   0              <NA>          0      <NA>       <NA>
55                   0              <NA>          0      <NA>       <NA>
56                   0              <NA>          0      <NA>       <NA>
57                   0              <NA>          0      <NA>       <NA>
58                   0              <NA>          0      <NA>       <NA>
59                   0              <NA>          0      <NA>       <NA>
60                   0              <NA>          0      <NA>       <NA>
61                   0              <NA>          0      <NA>       <NA>
62                   0              <NA>          0      <NA>       <NA>
63                   0              <NA>          0      <NA>       <NA>
64                   0              <NA>          0      <NA>       <NA>
65                   0              <NA>          0      <NA>       <NA>
69                   0              <NA>          0      <NA>       <NA>
70                   0              <NA>          0      <NA>       <NA>
86                   0              <NA>          0      <NA>       <NA>
87                   0              <NA>          0      <NA>       <NA>
88                   0              <NA>          0      <NA>       <NA>
90                   0              <NA>          0      <NA>       <NA>
92                   0              <NA>          0      <NA>       <NA>
93                   0              <NA>          0      <NA>       <NA>
94                   0              <NA>          0      <NA>       <NA>
96                   0              <NA>          0      <NA>       <NA>
98                   0              <NA>          0      <NA>       <NA>
104                  0              <NA>          0      <NA>       <NA>
115                  0              <NA>          0      <NA>       <NA>
116                  0              <NA>         20     14.29      10.22
118                  0              <NA>          0      <NA>       <NA>

                     Nombre_de_Tienda    Formato             Municipio/Ciudad  \
0                Singing black center       Shop             Evil white baton
8             Interesting purple mall       Shop         Horrible purple tree
19            Bizarre white stationer       Shop       Kicking fuchsia empire
22                Dead blue greatshop       Shop      Horrible chartreuse mud
23       Clean aquamarine convenience       Shop       Long chocolate barrier
24                Little lime butcher       Shop            Great violet rock
27          Impressive indigo grocery       Shop      Horrible chartreuse mud
28            Massive purple highshop       Shop             Funny lemon star
30           Dirty lavender smallshop       Shop             Funny lemon star
31             Singing turquoise cafe       Shop            Angry navy empire
33                   Rare pink center       Shop         Horrible purple tree
35         Awesome magenta fishmonger       Shop             Funny lemon star
36                 Long khaki florist       Shop             Funny lemon star
39                 Clean yellow baker       Shop             Tiny indigo tree
41                 Funny cyan butcher       Shop     Enlightened fuchsia hole
42                 Bad silver butcher       Shop            Great white baton
43              Bizarre blue tinyshop       Shop       Long chocolate barrier
44              Bizarre azure florist       Shop             Funny lemon star
45            Kicking aqua gipsytrade       Shop              Clean blue dirt
47                   Bad aqua grocery       Shop       Interesting lime comet
48                Defiant yellow bank       Shop        Massive chocolate mud
52           Defiant yellow lunchhall       Shop      Enlightened dark empire
53                Awesome pink bigcom       Shop       Interesting green pine
54          Legendary coral smallshop       Shop              Clean blue dirt
55              Defiant silver center       Shop             Funny lemon star
56   Enlightened aquamarine stationer       Shop             Funny lemon star
57                Empty white florist       Shop             Funny lemon star
58                High orange chemist       Shop              Last pink river
59             Empty lemon tallmarket       Shop       Dangerous black empire
60            Bloody lime convenience       Shop              Clean aqua soil
61                   Dirty lemon shop       Shop         Young orchid capital
62                 Dull navy bookshop       Shop               Rare lemon key
63                 Dull navy bookshop   Tinyshop               Rare lemon key
64               Legendary olive deli       Shop             Funny lemon star
65           Alive fuchsia tallmarket       Shop           Funny magenta tree
69       Legendary crimson tallmarket       Shop         Horrible purple tree
70               Tiny lemon greatshop       Shop               Rare lemon key
86                Awful grey highshop  Greatshop               Tall dark ship
87                  Defiant pink deli  Greatshop              Clean aqua soil
88               Bad golden stationer  Greatshop              Last pink river
90                Great indigo center       Shop             Funny lemon star
92             Singing white highshop  Greatshop          Evil chocolate rock
93              Short magenta chemist  Greatshop       Interesting brown tree
94                Angry green florist       Shop  Impressive chartreuse polis
96               Singing black center       Shop             Evil white baton
98               Evil orange jeweller       Shop          Evil chocolate rock
104           Interesting purple mall       Shop         Horrible purple tree
115           Bizarre white stationer       Shop       Kicking fuchsia empire
116               Clean grey jeweller       Shop             Funny lemon star
118               Dead blue greatshop       Shop      Horrible chartreuse mud

        Estado     Division       Deposito / Distribuidor  Sku_Description
0     Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
8    Lorgulgus   Centro-sur          Gorngusco toughworks  Stars chocolate
19   Magornmar  Metro-norte                 Emolor vocals  Stars chocolate
22    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
23    Alloralf       Centro               Movitalf empire  Stars chocolate
24    Alloralf  Metro-norte          Lorthogus toughworks  Stars chocolate
27    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
28   Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
30   Magornmar    Metro-sur  Ioalfio ifonforge industries  Stars chocolate
31    Alloralf  Metro-norte          Lorthogus toughworks  Stars chocolate
33   Lorgulgus   Centro-sur          Gorngusco toughworks  Stars chocolate
35   Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
36   Magornmar    Metro-sur         Thrilvitar industrail  Stars chocolate
39    Alloralf  Metro-norte          Lorthogus toughworks  Stars chocolate
41     Egusgul   Centro-sur            Erodmad industrail  Stars chocolate
42   Magornmar    Metro-sur         Thrilvitar industrail  Stars chocolate
43    Alloralf       Centro               Movitalf empire  Stars chocolate
44   Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
45   Magornmar  Metro-norte                 Emolor vocals  Stars chocolate
47   Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
48     Egusgul   Centro-sur            Erodmad industrail  Stars chocolate
52   Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
53    Alloralf    Metro-sur  Ioalfio ifonforge industries  Stars chocolate
54   Magornmar  Metro-norte                 Emolor vocals  Stars chocolate
55   Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
56   Magornmar    Metro-sur         Thrilvitar industrail  Stars chocolate
57   Magornmar    Metro-sur  Ioalfio ifonforge industries  Stars chocolate
58    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
59    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
60     Egusgul   Centro-sur            Erodmad industrail  Stars chocolate
61   Magornmar  Metro-norte                 Emolor vocals  Stars chocolate
62    Alloralf    Metro-sur             Thrilthoal empire  Stars chocolate
63    Alloralf  Metro-norte          Lorthogus toughworks  Stars chocolate
64   Magornmar    Metro-sur  Ioalfio ifonforge industries  Stars chocolate
65    Alloralf       Centro             Elortho aerospace  Stars chocolate
69   Lorgulgus   Centro-sur          Gorngusco toughworks  Stars chocolate
70    Alloralf  Metro-norte             Thrilvallor corp.  Stars chocolate
86    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
87     Egusgul   Centro-sur            Erodmad industrail  Stars chocolate
88    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
90   Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
92    Alloralf  Metro-norte             Thrilvallor corp.  Stars chocolate
93    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
94   Lorgulgus   Centro-sur          Gorngusco toughworks  Stars chocolate
96    Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
98    Alloralf  Metro-norte             Thrilvallor corp.  Stars chocolate
104  Lorgulgus   Centro-sur          Gorngusco toughworks  Stars chocolate
115  Magornmar  Metro-norte                 Emolor vocals  Stars chocolate
116  Magornmar    Metro-sur             Thrilthoal empire  Stars chocolate
118   Alloralf  Metro-norte                 Emolor vocals  Stars chocolate
             Sku       Date Store_Id  Pieces_Out_Prov_1  Price_Out_Prov_1  \
0        4220015 2017-01-01       18                  6              15.6
8        4220015 2017-01-01       60                  8              15.6
19       4220015 2017-01-01       98                  8              15.6
22       4220015 2017-01-01      106                  1              15.6
23       4220015 2017-01-01      107                  2              15.6
...          ...        ...      ...                ...               ...
9665547  4829827 2017-05-31     3900                  0              <NA>
9665548  4829827 2017-05-31     4090                  0              <NA>
9665549  4829827 2017-05-31     4544                  0              <NA>
9665550  4829827 2017-05-31     5702                  0              <NA>
9665551  4829827 2017-05-31     5773                  0              <NA>

         Pieces_Out_Prov_2  Price_Out_Prov_2  Pieces_In  Price_In  Margin_In  \
0                        0              <NA>          0      <NA>       <NA>
8                        0              <NA>          0      <NA>       <NA>
19                       0              <NA>          0      <NA>       <NA>
22                       0              <NA>          0      <NA>       <NA>
23                       0              <NA>          0      <NA>       <NA>
...                    ...               ...        ...       ...        ...
9665547                  0              <NA>         33     20.51      14.62
9665548                  0              <NA>         20     20.51      14.62
9665549                  0              <NA>          6     20.51      14.62
9665550                  0              <NA>         33     20.51      14.62
9665551                  0              <NA>          6     20.51      14.62

                     Nombre_de_Tienda     Formato         Municipio/Ciudad  \
0                Singing black center        Shop         Evil white baton
8             Interesting purple mall        Shop     Horrible purple tree
19            Bizarre white stationer        Shop   Kicking fuchsia empire
22                Dead blue greatshop        Shop  Horrible chartreuse mud
23       Clean aquamarine convenience        Shop   Long chocolate barrier
...                               ...         ...                      ...
9665547     Awful chartreuse allinone   Leftorium         Tiny indigo tree
9665548           Long navy stationer   Leftorium    Old orchid metropolis
9665549         Awful dark laundrette  Gipsytrade          Clean aqua soil
9665550      Clean chartreuse florist   Leftorium       Funny magenta tree
9665551           Rare salmon florist  Gipsytrade          Clean aqua soil

            Estado     Division Deposito / Distribuidor  \
0         Alloralf  Metro-norte           Emolor vocals
8        Lorgulgus   Centro-sur    Gorngusco toughworks
19       Magornmar  Metro-norte           Emolor vocals
22        Alloralf  Metro-norte           Emolor vocals
23        Alloralf       Centro         Movitalf empire
...            ...          ...                     ...
9665547   Alloralf  Metro-norte    Lorthogus toughworks
9665548    Egusgul   Centro-sur      Erodmad industrail
9665549    Egusgul   Centro-sur      Erodmad industrail
9665550   Alloralf       Centro       Elortho aerospace
9665551    Egusgul   Centro-sur      Erodmad industrail

                          Sku_Description
0                         Stars chocolate
8                         Stars chocolate
19                        Stars chocolate
22                        Stars chocolate
23                        Stars chocolate
...                                   ...
9665547  Golden goals chocolate choc chip
9665548  Golden goals chocolate choc chip
9665549  Golden goals chocolate choc chip
9665550  Golden goals chocolate choc chip
9665551  Golden goals chocolate choc chip

[8043664 rows x 17 columns]

Empty DataFrame
Columns: [Sku, Date, Store_Id, Pieces_Out_Prov_1, Price_Out_Prov_1, Pieces_Out_Prov_2, Price_Out_Prov_2, Pieces_In, Price_In, Margin_In, Nombre_de_Tienda, Formato, Municipio/Ciudad, Estado, Division, Deposito / Distribuidor, Sku_Description]
Index: []

In [27]:
#crearé una nueva columna con el mes, año y fecha
df_5.loc[:,"Año"]=df_5.Date.dt.year
df_5.loc[:,"Mes"]=df_5.Date.dt.month
df_5.loc[:,"Día"]=df_5.Date.dt.day
print(df_5.info())

#Ordeno el dataframe
df_5.sort_values(["Año","Mes","Día"], ascending=False, inplace=True)
df_5

C:\Users\auror\AppData\Local\Temp\ipykernel_11784\1106436761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5.loc[:,"Año"]=df_5.Date.dt.year
C:\Users\auror\AppData\Local\Temp\ipykernel_11784\1106436761.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5.loc[:,"Mes"]=df_5.Date.dt.month
C:\Users\auror\AppData\Local\Temp\ipykernel_11784\1106436761.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5.loc[:,"Día"]=df_5.Date.dt.day

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8043664 entries, 0 to 9665551
Data columns (total 20 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Sku                      string
 1   Date                     datetime64[ns]
 2   Store_Id                 string
 3   Pieces_Out_Prov_1        Int64
 4   Price_Out_Prov_1         Float64
 5   Pieces_Out_Prov_2        Int64
 6   Price_Out_Prov_2         Float64
 7   Pieces_In                Int64
 8   Price_In                 Float64
 9   Margin_In                Float64
 10  Nombre_de_Tienda         string
 11  Formato                  category
 12  Municipio/Ciudad         object
 13  Estado                   object
 14  Division                 category
 15  Deposito / Distribuidor  object
 16  Sku_Description          object
 17  Año                      int64
 18  Mes                      int64
 19  Día                      int64
dtypes: Float64(4), Int64(3), category(2), datetime64[ns](1), int64(3), object(4), string(3)
memory usage: 1.2+ GB
None

C:\Users\auror\AppData\Local\Temp\ipykernel_11784\1106436761.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5.sort_values(["Año","Mes","Día"], ascending=False, inplace=True)

,Sku,Date,Store_Id,Pieces_Out_Prov_1,Price_Out_Prov_1,Pieces_Out_Prov_2,Price_Out_Prov_2,Pieces_In,Price_In,Margin_In,Nombre_de_Tienda,Formato,Municipio/Ciudad,Estado,Division,Deposito / Distribuidor,Sku_Description,Año,Mes,Día
14784,4220015,2017-06-04,18,6,16.3,0,<NA>,0,<NA>,<NA>,Singing black center,Shop,Evil white baton,Alloralf,Metro-norte,Emolor vocals,Stars chocolate,2017,6,4
14786,4220015,2017-06-04,39,3,16.3,0,<NA>,0,<NA>,<NA>,Evil orange jeweller,Shop,Evil chocolate rock,Alloralf,Metro-norte,Thrilvallor corp.,Stars chocolate,2017,6,4
14792,4220015,2017-06-04,60,6,16.3,0,<NA>,0,<NA>,<NA>,Interesting purple mall,Shop,Horrible purple tree,Lorgulgus,Centro-sur,Gorngusco toughworks,Stars chocolate,2017,6,4
14803,4220015,2017-06-04,98,16,16.3,0,<NA>,0,<NA>,<NA>,Bizarre white stationer,Shop,Kicking fuchsia empire,Magornmar,Metro-norte,Emolor vocals,Stars chocolate,2017,6,4
14804,4220015,2017-06-04,100,6,16.3,0,<NA>,0,<NA>,<NA>,Clean grey jeweller,Shop,Funny lemon star,Magornmar,Metro-sur,Thrilthoal empire,Stars chocolate,2017,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9614662,4829827,2015-01-02,4191,0,<NA>,0,<NA>,13,17.78,12.48,Awesome pink stationer,Leftorium,Last pink river,Alloralf,Metro-norte,Emolor vocals,Golden goals chocolate choc chip,2015,1,2
9614663,4829827,2015-01-02,5711,0,<NA>,0,<NA>,6,17.78,12.48,Clean chartreuse butcher,Allinone,First salmon rock,Lorvalmo,Bajío,Argule ifonforge industries,Golden goals chocolate choc chip,2015,1,2
9614664,4829827,2015-01-02,5730,0,<NA>,0,<NA>,6,17.78,12.48,Alive sea green market,Allinone,Massive indigo burgo,Alloralf,Metro-sur,Rusrusmo toughworks,Golden goals chocolate choc chip,2015,1,2
9614665,4829827,2015-01-02,5770,0,<NA>,0,<NA>,6,17.78,12.48,Tall navy allinone,Allinone,Massive blue jungle,Alloralf,Metro-norte,Ioarco corp.,Golden goals chocolate choc chip,2015,1,2
9614666,4829827,2015-01-02,5843,0,<NA>,0,<NA>,6,17.78,12.48,Singing blue grocery,Allinone,Bizarre sea green stone,Alfrusma,Occidente,Navallor gmbh,Golden goals chocolate choc chip,2015,1,2

In [28]:
##############################comprobando la hipotésis##################################3
"""Un ejemplo de consulta que el equipo de data scientists puede requerir es "necesito todos los 
registros de sellout y sellin entre las fechas X e Y para los productos A,B,C y D en esta lista 
concreta de tiendas: T1, T2, T3, T4, T5 y T6" siendo X,Y, A, B, C, D, T1, T2, T3, T4, T5, y T6 
variables."""
#un ejemplo de consulta
lista_tiendas_deseadas=("129","5735","5713")
fechas_deseadas=(range(2015,2018))
productos_deseados=("4220015","4829827")

filtro_1=(df_5["Sku"].isin(productos_deseados))
filtro_2=(df_5["Año"].isin(fechas_deseadas))
filtro_3=(df_5["Store_Id"].isin(lista_tiendas_deseadas))
df_consulta=df_5[filtro_1 & filtro_2 & filtro_3]
df_consulta

,Sku,Date,Store_Id,Pieces_Out_Prov_1,Price_Out_Prov_1,Pieces_Out_Prov_2,Price_Out_Prov_2,Pieces_In,Price_In,Margin_In,Nombre_de_Tienda,Formato,Municipio/Ciudad,Estado,Division,Deposito / Distribuidor,Sku_Description,Año,Mes,Día
14814,4220015,2017-06-04,129,2,16.3,0,<NA>,0,<NA>,<NA>,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Stars chocolate,2017,6,4
1217136,4829827,2017-06-04,129,6,27.2,0,<NA>,0,<NA>,<NA>,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Golden goals chocolate choc chip,2017,6,4
14718,4220015,2017-06-03,129,5,16.3,0,<NA>,0,<NA>,<NA>,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Stars chocolate,2017,6,3
1216910,4829827,2017-06-03,129,1,27.2,0,<NA>,0,<NA>,<NA>,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Golden goals chocolate choc chip,2017,6,3
14622,4220015,2017-06-02,129,3,16.3,0,<NA>,0,<NA>,<NA>,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Stars chocolate,2017,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6080835,4220015,2015-01-09,129,0,<NA>,0,<NA>,40,13.01,9.78,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Stars chocolate,2015,1,9
6080829,4220015,2015-01-08,5713,0,<NA>,0,<NA>,10,12.72,9.49,Awful crimson fishmonger,Allinone,Dull white jungle,Alflorval,Centro,Gornmadvit industrail,Stars chocolate,2015,1,8
6080721,4220015,2015-01-07,5713,0,<NA>,0,<NA>,20,12.72,9.49,Awful crimson fishmonger,Allinone,Dull white jungle,Alflorval,Centro,Gornmadvit industrail,Stars chocolate,2015,1,7
6080578,4220015,2015-01-06,5735,0,<NA>,0,<NA>,20,12.72,9.49,Bloody purple smallshop,Allinone,Awful sea green bay,Lorgornco,Centro,Vitgusmad industrail,Stars chocolate,2015,1,6
6080312,4220015,2015-01-05,129,0,<NA>,0,<NA>,20,13.01,9.78,Dirty lavender smallshop,Shop,Funny lemon star,Magornmar,Metro-sur,Ioalfio ifonforge industries,Stars chocolate,2015,1,5

In [29]:
df_consulta.groupby(["Store_Id"]).agg({"Sku":"count","Pieces_Out_Prov_1":"sum","Price_Out_Prov_1":"mean","Pieces_Out_Prov_2":"sum","Price_Out_Prov_2":"mean","Pieces_In":"sum","Price_In":"mean"})

,Sku,Pieces_Out_Prov_1,Price_Out_Prov_1,Pieces_Out_Prov_2,Price_Out_Prov_2,Pieces_In,Price_In
Store_Id,,,,,,,
129,437,820,17.47623,0,<NA>,7631,15.323916
5713,235,0,<NA>,0,<NA>,3223,13.884809
5735,43,0,<NA>,0,<NA>,440,16.485581